body {
  background-color: #6FEDED;
}
#välkommen{
  display: block;
  margin: auto;
  border-color: black;
  border-style: dashed;
  border-width: 20px;
}

p {

}
.stil{
  font-family: 'Butterfly Kids', cursive;
  font-size: 68px;
}
.storlek {
  font-size: 50px;
}
#hund{

}
#coco {
  float: left;
  margin-left: 3rem;
  margin-top: 50px;
}

h1:hover{
color : blue;
font-size: 95px;

}

.stil-piano{
  font-family: 'Merienda One', cursive;
font-size: 25px;

}



#noter{
  float: right;
  margin-right: 37rem;
}



#piano-stil{
  font-family: 'Merienda One', cursive;
}
